@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

  :root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --bg-main-color: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.8);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
  }

    /* Custom Scroll */

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }

  /* Início do Código */
  body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: var(--text-color);
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }

  /* Início do Cabeçalho */
  header {
    display: flex;
    width: 100%;
    background-color: var(--nav-bg-color);
    position: fixed;
    z-index: 1;
  }

  .menu {
    width: inherit;
    height: inherit;
    display: inline-flex;
    margin: .3rem 1rem;
    justify-content: space-between;
  }
  
  .menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .menu__item img {
    display: inline-flex;
    width: 10rem;
    gap: 2rem;
    margin: .5rem 0;
  }

  .menu__item a {
    display: inline-flex;
    color: var(--text-color);
    font-size: .9rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }

  .menu__btn {
    padding: .5rem 2rem;
    background-color: var(--tertiary-color);
    border-radius: 100px;
  }

  @media only screen and (max-width: 768px){
    .menu {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 1rem 0;
    }

    .menu__item img {
      width: 7.5rem;
    }

    .menu__item {
      flex-direction: row;
      gap: 2rem;
    }
  }
  /* Fim do cabeçalho */

  /* Início do Banner */
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7.5rem 0;
    gap: 2rem;
    background: var(--bg-main-color);
    background-size: 400% 400%;
    animation: mudanca-cor-banner 10s ease alternate infinite;
  }

  .banner .banner__img {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .banner__heading h1 {
    width: 35rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: lighter;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .banner__heading span {
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .banner__divisor {
    display: flex;
    content: "-";
    height: 5px;
    background: var(--divider-bg-color);
    width: 70%;
    max-width: 700px;
    justify-content: center;
    align-items: center;
  }

  .banner__oferta {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner__oferta p {
    width: 17rem;
    font-size: 1.25rem;
    color: var(--text-color);
    margin: 0 auto;
    text-align: center;
  }

  p span {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .banner__button button {
    padding: 1rem 3.5rem;
    border-radius: 100px;
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: bold;
    color: var(--text-color);
    background: var(--btn-bg-color-gradient);
    outline: 3px solid transparent;
    border: none;
    background-size: 250%;
    text-transform: uppercase;
    animation: animacao-btn linear infinite 2.3s;
    cursor: pointer;
  }

  .banner__button button:hover {
    outline: 1px solid #ff00e5;
    background: #0f0f10;
    transition: background 1s, outline 1s, transform 1s;
  }

  .oferta__observacao {
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
  .oferta__observacao p {
    font-size: .9rem;
  }

@media only screen and (max-width: 768px) {
  .banner {
    padding: 12.5rem 0;
    width: 100%;
    overflow: hidden;
  }
  .banner__heading {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner__heading span {
    font-size: 2.8rem;
    width: 100%;
  }
}

.banner::after {
  width: 100%;
  content: "";
  height: 250px;
  background-color: linear-gradient(0deg, var(--primary-color), transparent);
}

/* Fim do Banner */

.background-image {
  background: url(../images/background-movies-series.png), var(--bg-main-color);
  background-size: cover;
  position: relative;;
}
/* Início de Planos */

.planos {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 80px;
  background-size: cover;
  position: relative;
}

.planos__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  gap: 120px;
}


.planos__heading h1 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}

.planos__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  perspective: 2000px;
  perspective-origin: top;
}

.planos__mobile, .planos__multitelas {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  background: var(--card-bg-color);
  border-radius: 8px;
  padding: 20px 30px;
  min-height: 600px;
  justify-content: space-between;
}

.planos__cards:has(.planos__cards:nth-child(1):hover)
  .planos__multitelas {
  transform: rotateY(-45deg);
}

.planos__cards:has(.planos__cards:nth-child(2):hover)
  .planos__mobile {
  transform: rotateY(45deg);
}

.mobile__txt, .multitelas__txt {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  flex-direction: column;
  font-size: 1.25rem;
}

.txt__heading {
  display: inline-flex;
  justify-content: space-between;
}

.mobile__txt p, .multitelas__txt p {
  font-size: 2rem;
  color: var(--secondary-color);
  font-weight: bold;
}

.mobile__txt span, .multitelas__txt span {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: normal;
}

.planos__desc li {
  list-style-type: "+";
  font-size: 1.25rem;
  padding-left: 15px;
  margin-bottom: 15px;
} 

.mobile__btn button, .multitelas__btn button {
  width: 32rem;
  padding: 15px 20px;
  background: var(--btn-bg-color-gradient);
  border: none;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: .8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-size: 250%;
  border-radius: 100px;
}

.mobile__btn button:hover, .multitelas__btn button:hover {
  outline: 1px solid #ff00e5;
  background: #0f0f10;
  transition: background 1s, outline 1s, transform 1s;
}

@media only screen and (max-width: 1200px) {

  .planos__container {
    max-width: 100%;
    width: 90%;
  }

  .planos__cards {
    display: flex;
    flex-wrap: wrap;
  }
  .planos__mobile, .planos__multitelas, .mobile__btn button, .multitelas__btn button {
    width: 18rem;
  }

  .planos__heading h1 {
    font-size: 2.2rem;
  }
  .txt__heading {
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
  }

  .mobile__txt ul, .multitelas__txt ul {
    padding-left: 0;
    font-size: .8rem;
  }
}

@media only screen and (max-width: 360px) {
 .planos__mobile, .planos__multitelas, .mobile__btn button, .multitelas__btn button {
    width: 15rem;
  }
}

@media only screen and (min-width: 720px) and (max-width: 1200px) {
   .planos__mobile, .planos__multitelas, .mobile__btn button, .multitelas__btn button {
    width: 25rem;
  }
}

/* Fim de Planos */

/* Início de Lançamentos */

.lancamentos {
  padding: 5rem 0;
  margin: 0;
  justify-self: center;
  align-self: center;
}
.lancamentos__container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  place-items: center;
  margin: 0 auto;
}

.container__box {
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid transparent;
  transition: transform 0.8s, background 0.8s, border 1s;
}
.container__box img {
  width: 20rem;
  object-fit: cover;
  object-position: center;
  transition: opacity 2s;
}

.container__box img:hover {
  opacity: 0;
}

.container__box:hover {
  transform: scale(1.05);
  border: 2px solid var(--tertiary-color);
}

.container__box:nth-child(1):hover {
  background-image: url(../images/hbo-hover_0.webp);
}

.container__box:nth-child(2):hover {
  background-image: url(../images/MAX-Hover.webp);
}

.container__box:nth-child(3):hover {
  background-image: url(../images/DC-Hover.webp);
}

.container__box:nth-child(4):hover {
  background-image: url(../images/WB-Hover.webp);
}

.container__box:nth-child(5):hover {
  background-image: url(../images/CN-Hover.png);
}

.container__box:nth-child(6):hover {
  background-image: url(../images/UCL-Hover.webp);
}

.container__heading h2 {
  width: 30%;
  font-size: 2rem;
  text-align: center;
  margin: 2rem auto;
  font-weight: 500;
}

@media only screen and (min-width: 300px) and (max-width: 760px) {
  .lancamentos__container {
    grid-template-columns: repeat(6, 100%);
    grid-auto-flow: column;
    overflow: auto hidden;
  }

  .container__box, .container__heading h2 {
    width: 90%;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .lancamentos__container {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
  .container__heading h2 {
    width: 90%;
  }
}
/* Fim de Lançamentos */ 

/* Início do Cabeçalho */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.footer p {
  font-size: .75rem;
  text-align: center;
  color: var(--link-color)
}
.links__container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.links__container a {
  color: var(--link-color);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.social__container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media only screen and (max-width: 425px) {
  .links__container {
    flex-wrap: wrap;
  }
}
/* Keyframes */

  @keyframes mudanca-cor-banner {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  @keyframes animacao-btn {
    0% {
      transform: rotate(0);
    }
    15% {
      transform: rotate(-15deg);
    }
    20% {
      transform: rotate(10deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    30% {
      transform: rotate(10deg);
    }
    35% {
      transform: rotate(-10deg);
    }
    40%, 100% {
      transform: rotate(0);
    }
  }