body {
    margin: 0;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
    border: none;
    color: white;
    background: linear-gradient(90deg, #2dbed7, #2dd76b);
    box-shadow: 8px 12px 7px lightgray;
    animation: botao 2.2s linear infinite;
}

button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

@keyframes botao {
    0% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    40%, 100% {
        transform: rotate(0)
    }
}